@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
  --font-lora: var(--font-lora);
  --font-raleway: var(--font-raleway);
  --font-fraunces: var(--font-fraunces);
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-lora {
  font-family: var(--font-lora), serif;
}

.font-raleway {
  font-family: var(--font-raleway), sans-serif;
}

.font-fraunces {
  font-family: var(--font-fraunces), serif;
}

.font-dm {
  font-family: "DM Sans", sans-serif;
}
